@charset "utf-8";

html, body {
    padding:0; 
    margin:0; 
    font-size:12px; 
    line-height:100%; 
    font-family:Arial, sans-serif; 
    background: none repeat scroll 0 0 #e5e5e5; 
}
input{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.submit {
font-family: Verdana, Arial, sans-serif;
display: inline-block;
background: #459300 url('../default/images/bg-button-green.gif') top left repeat-x !important;
border: 1px solid #459300 !important;
padding: 5px 10px 5px 10px !important;
color: white !important;
font-size: 12px !important;
cursor: pointer;
}

#login {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ccc;
    margin: 90px auto 0; 
    padding-bottom: 10px;
    text-align: center; 
    width: 600px;
    -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#login_header { 
    width: 580px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
    background: none repeat scroll 0 0 #0099CC;
    font-size: 16px;
    font-weight: bold;
    background: #E5E5E5 url('../default/images/bg-content-box.gif') top left repeat-x;
    margin-top: 1px;
    height: 30px;
}

.form {
    clear: both;
    text-align: left;
    width: 400px;
    height: 40px;
    margin: 0 auto;
}

.form label{
    float: left;
    text-align: right;
    width: 120px;
    height: 30px;
    line-height: 30px;
    margin-right: 20px;
}

.form input {
    float: left;
}

.form img {
    float: left;
}

.form .text {
	padding: 6px;
	font-size: 13px;
	border: 1px solid #D5D5D5;
	color: #333;
    border-width: 1px;
    border-style: solid;
    border-color: #A2BAC0 #B8D0D6 #B8D0D6 #A2BAC0;
}

label.error {
    color: #C00;
}

input.error {
    background: none repeat scroll 0 0 #FFEEEE;
    border-color: #CC0000;
}

.errorMessage {
    padding: 5px;
    color:#cd0a0a;
}